   
   
   <header id="header" class="index">
      <h1><a href="home.html">
         <img src="../page/images/logo.jpg"></a>
      </h1>
      <div id="lnb">
         <nav>
            <ul>
               <li><a href="home.html">home</a>
               </li>
               <li>
                 <a>마이페이지</a>
                 <ul class="fh5co-sub-menu">
					<li><a href="/Travel_Maker/ListMyInfoServlet.do">회원정보</a></li>
					<li><a href="MyBoard.html">내 게시글 관리</a></li>
					<li><a href="cart.html">장바구니</a></li>
				 </ul>
               </li>
               <li>
                  <a>게시판</a>
                  <ul class="fh5co-sub-menu">
					<li><a href="FreeBoard.jsp">자유게시판</a></li>
					<li><a href="/Travel_Maker/views/Travel/TravelBoard.html">여행리뷰게시판</a></li>
					<li><a href="boardUserQ.jsp">유저끼리 물어봐 게시판</a></li>
				 </ul>
               </li>
               <li>
                  <a>고객센터</a>
                  <ul class="fh5co-sub-menu">
					<li><a href="/Travel_Maker/NoticeList.do">공지사항</a></li>
					<li><a href="privQnABoard.html">1:1문의</a></li>
				  </ul>	
               </li>
            </ul>
         </nav>
      </div>
      <ul>
      <li><a href="login.html"> 로그인</a></li>
      <li><a href="join.html">회원가입</a></li>
      </ul>
   </header>
   
