<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Style -->
    <link rel="stylesheet" href="css/style.css">

    <title>Modal #9</title>
  </head>
  <body>
    

    <div class="container content">
      <div class="row align-items-center content">

        <div class="col-12 text-center">
          <h3 class="mb-4">Modal #9</h3>
        <button type="button" class="btn btn-secondary px-4 py-3" data-toggle="modal" data-target="#exampleModalCenter">
          Launch modal
        </button>
      </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content rounded-0">
          <div class="modal-body py-0">

            
            <div class="d-flex main-content">
              <div class="bg-image promo-img mr-3" style="background-image: url('images/img_1.jpg');">
                <span class="price">1</span>
              </div>
              <div class="content-text p-4 px-5 align-item-stretch">
                <div class="text-center">
                    <a href="#" class="share"><span class="icon-share"></span></a>
                    <h3 class="mb-3 line">Grand Prix 4000</h3>
                    <p class="mb-3">
                        <span class="icon-star text-warning"></span>
                        <span class="icon-star text-warning"></span>
                        <span class="icon-star text-warning"></span>
                        <span class="icon-star text-warning"></span>
                        <span class="icon-star"></span>
                    </p>
                    <p class="mb-5">All their equipment and instruments are alive. The sky was this is cloudless and of a deep dark blue. A shining crescent far beneath the flying vessel.</p>
                    <div class="d-flex text-center social w-50 mx-auto">
                        <a href="#" class="d-inline-block d-flex align-items-center mr-auto like">
                            <span class="icon-heart mr-2 icon"></span> <span>25</span>
                        </a>
                        <a href="#" class="d-inline-block d-flex align-items-center mx-auto message">
                            <span class="icon-chat mr-2 icon"></span> <span>10</span>
                        </a>
                        <a href="#" class="d-inline-block d-flex align-items-center ml-auto add">
                            <span class="icon-add mr-2"></span> <span>55</span>
                        </a>
                    </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>